
#form-registration{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.form-container{
    width: 40%;
    margin: 0;
    padding:30px;
    background-color:#8E410D;
    border-radius:10px;
    position: absolute;
}

input{
    border-radius: 10px;
    padding: 10px;
}

#btn-login{
    color: #8E410D;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    height: fit-content;
    width: 100%;
}

.title{
    text-align: center;
}

label{
    color: white;
}
h2{
    color: white;
}